{sys, 
    [{boot_rel, "erlips"}, 
    {rel, "erlips", "0.1", [kernel, stdlib, sasl]},
    {profile, standalone},
    {app, kernel, [{incl_cond, include}]},
    {app, stdlib, [{incl_cond, include}]},
    {app, sasl, [{incl_cond, include}]},
    %{app, erlips, [{incl_cond, derived}]},
    {app, runtime_tools, [{incl_cond, include}]}
    ]
}.
