{sys, 
    [
    {lib_dirs,["/home/litaocheng/erlips"]},
    {boot_rel, "erlips"}, 
    {rel, "erlips", "0.1", [kernel, stdlib, sasl]},
    {relocatable, true},
    {profile, standalone},

    {app, kernel, [{incl_cond, derived}]},
    {app, stdlib, [{incl_cond, derived}]},
    {app, sasl, [{incl_cond, include}]},
    {app, erlips, [{incl_cond, include}]},
    {app, runtime_tools, [{incl_cond, include}]}
    ]
}.
